<div class="page3-singlepopups">
    <div class="page3-image1s sem1 last-width1 visit">
        <img class="user-img" src="../../assets/img/bel3.svg" alt="">
    </div>

    <div class="page3-bigborder sem1 last-width2">
        <p class="name">displayname</p>
        <p class="bio">description</p>

    </div>

    <div class="page3-buttonss text-right sem1">
        <button
                class="fa fa-envelope">
        </button>
        <button class="uid">
            follow
        </button>

    </div>
</div>
<hr>