<div class="card bg-light mb-3 text-center" style="width: 12rem;height: 12rem;">
    <div class="card-header p-name">project name</div>
    <div class="card-body">
        <i class="material-icons icon">
            lock
        </i>
        <p class="card-text access">private</p>
    </div>
</div>



<!--    <div class="single-blog-wrap">-->
<!--        <div class="single-blog blog2">-->
<!--            <p class="p-name">project 1</p>-->
<!--            <p class="access">private</p>-->
<!--        </div>-->
<!--    </div>-->
