<div class="page3-singlepopups">
    <div class="page3-image1s sem1">
        <img src="../../assets/img/video-image.svg" alt="">
        <a class="popup-class">
            <i class="fa fa-play"></i>
        </a>
    </div>

    <div class="page3-bigborder sem1">
        <h5 class="p-name m-0">Song Name</h5>
        <div class="d-flex">
            <p class="author">Author</p>
            <div class="ml-3">
                <i class="fa fa-star star"> </i>
                <span></span>
            </div>
        </div>
        <span class="gra1"></span>
    </div>

    <div class="page3-buttonss text-right sem1">
        <button class="fa fa-star">
        </button>
        <button>
            ask to join
        </button>

    </div>
</div>


<!--<div class="container">-->
<!--    <div class="row">-->
<!--        <div class="col">-->
<!--            <div class="">-->
<!--                <img src="../../assets/img/video-image.svg" alt="" width="80">-->
<!--            </div>-->

<!--        </div>-->
<!--        <div class="col-8">-->
<!--            <div class="">-->
<!--                <p class="pname">Song Name</p>-->
<!--                <p class="author">Author <i class=" "></i><span>1.7k</span></p>-->
<!--            </div>-->

<!--        </div>-->
<!--        <div class="col">-->
<!--            <div class="">-->
<!--        <span>-->
<!--            <i class=""></i>-->
<!--            <button>ask to join</button>-->
<!--        </span>-->
<!--            </div>-->

<!--        </div>-->

<!--    </div>-->
<!--    <div class="row">-->
<!--        <div class="col">-->

<!--        </div>-->
<!--        <div class="col-8">-->
<!--            <audio controls>-->
<!--                <source src="" type="audio/ogg">-->
<!--                <source src="" type="audio/mpeg">-->
<!--                Your browser does not support the audio element.-->
<!--            </audio>-->

<!--        </div>-->
<!--        <div class="col">-->

<!--        </div>-->

<!--    </div>-->

<!--</div>-->
