<div class="page3-singlepopups">
    <div class="page3-image1s sem1 ">
        <img class="pro-img" src="../../assets/img/video-image.svg" alt="">

    </div>

    <div class="page3-bigborder sem1">
        <h5 class="p-name m-0 visit">Song Name</h5>
        <div class="d-flex">
            <p class="author">Author</p>
            <div class="ml-3">
                <i class="fa fa-star star"> </i>
                <span></span>
            </div>
        </div>
        <audio-player></audio-player>
<!--        <span class="gra1"></span>-->
    </div>

    <div class="page3-buttonss text-right sem1">
        <button class="fa fa-star">
        </button>
        <button class="join">
            ask to join
        </button>

    </div>
</div>
